<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Bill Splitter</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Bill Splitter</h3>
<ion-card>
  <ion-card-content>
        <button ion-button color="twitter" (click)="takePicture()">Upload Bill</button>
        <img [src]="base64Image" *ngIf="base64Image" />
      </ion-card-content>
    </ion-card>
    <ion-card>
    <ion-card-content *ngIf="total">
        Total : {{total}}
        <button ion-button color="twitter" (click)="splitBill()">Split</button>
    </ion-card-content>
    </ion-card>
</ion-content>
