<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Your Shared Lists</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <div ion-item *ngFor="let list of lists" (click)="showItems(list.ListId)">
      <div *ngIf="list.ListId != 3"> {{list.Name}}
	      <div ion-item *ngIf="listitems != undefined && listitems.length == 0 && selectedList == list.ListId">Empty List</div>
          <div *ngIf="listitems != undefined && listitems.length != 0 && listitems[0].ListId == list.ListId">
            <div ion-item *ngFor="let item of listitems" >{{item.Name}}                
              <ion-icon tappable (click)="addItem(item)" name="add" *ngIf="list.ListId === 1 && (selectedItem == undefined || item.ItemId !== selectedItem.ItemId)" item-end></ion-icon>
              <ion-icon tappable (click)="removeItem(item)" name="remove" *ngIf="list.ListId === 1 && (selectedItem == undefined || item.ItemId !== selectedItem.ItemId)" item-end></ion-icon>
              <ion-icon tappable (click)="deleteItem(item)" name="trash" *ngIf="selectedItem == undefined || item.ItemId !== selectedItem.ItemId" item-end></ion-icon>
              <ion-badge *ngIf="list.ListId === 1 && (selectedItem == undefined || item.ItemId !== selectedItem.ItemId)" item-end>{{item.Quantity}}</ion-badge>
              
              <ion-icon tappable (click)="addItem(selectedItem)" name="add" *ngIf="list.ListId === 1 && (selectedItem != undefined && item.ItemId === selectedItem.ItemId)" item-end></ion-icon>
              <ion-icon tappable (click)="removeItem(selectedItem)" name="remove" *ngIf="list.ListId === 1 && (selectedItem != undefined && item.ItemId === selectedItem.ItemId)" item-end></ion-icon>
              <ion-icon tappable (click)="deleteItem(selectedItem)" name="trash" *ngIf="selectedItem != undefined && item.ItemId === selectedItem.ItemId" item-end></ion-icon>
              <ion-badge *ngIf="list.ListId === 1 && (selectedItem != undefined && item.ItemId === selectedItem.ItemId)"  item-end>{{selectedItem.Quantity}}</ion-badge>
            </div>		
        </div>
      </div>
    </div>
  </ion-list>
</ion-content>
